
@{
    ViewBag.Title = "Confirmacion";
}

<h2>Confirmación de solicitud recibida</h2>

@ViewBag.Mensaje

</p>

@Html.ActionLink("Crear nueva solicitud", "Formulario", "Home", null, new { @class = "btn btn-danger" })