@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title> USPYCA </title>
</head>

<body>
    
    <img style="width:100%" src="/Content/Img/USPYCA.png" />
    <center>HORARIO DE ATENCIÓN:  </center>
    <center>Lunes a Viernes de 9:00 a 17:00 H  </center>
    <center>Sábado de 9:00 a 13:00 H  </center>
    <center>Dirección:  </center>
    <center>Av. Transformación S/N, Parque Industrial Cuamatla  </center>
    <center>Cuautitlán Izcalli, Estado de México  </center>
    <center>Teléfono: 5558012895  </center>
</body>


    <hr />
    <center>
        @Html.ActionLink("Ver Trámites", "EligeTramite", "Home", null, new { @class = "btn btn-danger" })
    </center>
    

