@{
    /**/

    ViewBag.Title = "Revision";
}

<h2>Revision</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <h4>Favor de indicarle al ciudadano la fecha en la que se presente con su mascota</h4>
    <hr />
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #cccccc; border-collapse: collapse; text-align: center;" width="600">
        <thead>
            <tr align="center" bgcolor="#ad5b53" style="color: #ffffff;">
                <th>
                    Fecha
                </th>
                <th>
                    Hora
                </th>
            </tr>
        </thead>
        <tbody>
            <tr align="center">
                <td align="center" style="padding: 40px 2px 30px 50px; vertical-align: middle;">
                    @*<div class="input-group dates end_date">
                            <input class="form-control  end_date mb-4" type="text" placeholder="DD/MM/AA" id="enddate_datepicker" readonly>
                            <span class="fa fa-calendar end_date_calendar" aria-hidden="true"></span>
                        </div>*@
                    <input type="date" class="form-control" id="enddate_datepicker" />
                </td>
                <td align="center" style="padding: 40px 50px 30px 50px; vertical-align: middle;">
                    @*<div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" id="time"/>
                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>*@
                    <input type="time" class="form-control" id="time" />
                </td>
            </tr>
        </tbody>
    </table>
    <input readonly id="body" name="body" />


    <textarea id="Comen" name="Comen" rows="5" cols="20" class="control-label col-md-2"></textarea>

    <input readonly id="id" name="id" value=@ViewBag.WebId />
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            Guardar y enviar notificacion al ciudadano
            <input type="submit" value="Save" id="enviar" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<h2>Revisión</h2>



@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'LT',
                autoclose: true,
            });
        });

        $('#enddate_datepicker').datepicker({
            format: 'dd-mm-yy',
            autoclose: true,
        });</script>
    <script>
        $(document).ready(function () {
            $("#body").hide();
            $("#id").hide();
        });

        $(document).on('click', '#enviar', function () {
            var fecha = $("#enddate_datepicker").val();
            var hora = $("#time").val();
            var cita = fecha + "   " + hora;
            $("#body").val(cita);
        });</script>
}
